*{
    overflow-x: hidden;
}
body{
    margin: 0;
    padding: 0;
    background: black;
}
.scrolled{
    background: rgb(209, 200, 200);
}
.top{
    width: 100vw;
    height: 80vh;
    background-color: black(192, 177, 177);
    color: white;
}
.heading{
    align-self: center;
}
img{
    width: 330px;
}
.join-btn a{
    text-decoration: none;
}
.join-btn{
    border-radius: 25%;
    background-color: silver;
    width: 5rem;
}
.join-btn:hover{
    color: silver;
    background-color: black;
    border-color: silver;
    border: 2px solid;
    transition: .5s ease-in;
}
.about{
    width: 100vw;
    height: 80vh;
    background-color: red;
    color: white;
}
.services{
    width: 100vw;
    height: 80vh;
    background-color: rgb(22, 16, 16);
    color: white;
}
.partners{
    width: 100vw;
    height: 80vh;
    background-color: rgb(117, 114, 114);
    color: white;
}
.contact{
    width: 100vw;
    height: 80vh;
    background-color: rgb(107, 37, 37);
    color: white;
}
.copyright{
    height: 6vh;
    width: 100vw;
    background-color: rgb(0, 0, 0);
    align-self: center;
    color: silver;
}
.copy a{
    text-decoration: none;
    color: silver;
}
.copy a:hover{
    color: rgb(114, 113, 113);
}