*{
    overflow-y: hidden;
}
body{
    margin: 0;
    padding: 0;
    background: black;
}
.top{
    background-color: black(192, 177, 177);
    color: white;
}
.heading{
    align-self: center;
}
img{
    width: 330px;
}
.join-btn a{
    text-decoration: none;
}
.join-btn{
    border-radius: 25%;
    background-color: silver;
    width: 5rem;
}
.join-btn:hover{
    color: silver;
    background-color: black;
    border-color: silver;
    border: 2px solid;
    transition: .5s ease-in;
}